body{
  width: 100%;
  height:600vh;
  text-align: center;
}

.container{
  width: 100%;
  height: 100%;
  background-image: url("../img/sunny-day.jpg");
  background-repeat:no-repeat;
  background: cover;
  text-align: center;
 


  
}

.gato-uno img {
  width: 80%;
  height: auto;
  
} 
.gato-dos img{
  width: 80%;
  height: auto;
  display: none;
}
.gato-tres img{
  width: 80%;
  height: auto;
}

.gato-uno{
  display: block;
  }
.gato-dos {
  display: none;
}


.gato-tres{
  display: none;
}

@media screen and (max-width: 900px) {
  .container {
    background-image: url("../img/dawn.png");
  }

  .gato-uno {
    display: none;
  }

  .gato-dos {
    display: block;
  }
  .gato-tres{
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container {
    background-image: url("../img/night.jpg");
  }

  .gato-dos{
    display: none;
  }
  

  .gato-uno{
    display:none;
  }
  .gato-tres{

  display:block;
}
}
